# Python virtual environment
venv/
env/
ENV/

# Python version
.python-version

# Environment variables
.env
.env.*

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Project specific directories
output/
Get_detail_agent/Detailed_agent_data/
Get_detail_agent/Detailed_agency_data/
detailed_agency.csv
detailed_agency.json
detailed_agent.csv
detailed_agent.json
Get_result/result/
Get_result/Seperated_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log 